@tailwind base;
@tailwind components;
@tailwind utilities;

.menuSidebar{
 margin: 0;
}

.menuItems{
    height: 3.8rem;
}

.searchFilter{
    text-align: right;
    margin: 4px;
}

.appform{
    border: 2px solid #67e8f9; 
    border-radius: 6px; 
    padding: 2rem ;
    box-shadow: 1px 1px 4px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.arrow-up-left {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -10px;
    left: 10px;
  }
  